<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
</head>
<body>
    <div id="wrapper">
        <!-- <%- include('../partials/header.ejs') %> -->
        <main><%- body %></main>
        <!-- <%- include('../partials/footer.ejs') %> -->
    </div>
</body>
</html>
<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>