<!DOCTYPE html>
<html>
<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
      <labale>Username</labale><input type="text" name="username"><br/>
      <labale>Email</labale><input type="text" name="email"><br/>
      <labale>Age</labale><input type="text" name="age"><br/>
      <input type="file" name="filename" id="file" accept="image/*">
      <button style="background-color: red ;" type="submit">Submit</button>
  </form>
</body>
</html>
