<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<form id="form_profile" action="/upload" method="POST" enctype="multipart/form-data"> 
  <div class="mb-3">
    <label for="username" name="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="text" name="age" class="form-control" id="age">
  </div>
  <div id="div_file_img" class="mb-3">
    <label for="" class="form-label">Image</label>
    <label id="file_name_img" for="imageFile" class="form-label"><img src="/assets/images/icons8-img-64.png"/></label>
    <img src="" id="preview" style="display: block;">
    <img src="" id="output" style="display: block;">
    <input type="file" class="form-control" name="filename" id="imageFile">
  </div>
  <button type="button" onclick="submit_data()" class="btn btn-primary" style="width: 100%;">Submit</button>
</form>


<style>
  #div_file_img{
    position: relative;
  }
  #file_name_img{
    position: absolute;
    bottom: -11px;
    left: 0;
  }
  #file_name_img img{
    width: 90px;
    height: 44px;
  }
</style>
<script>
  const submit_data = async () => {
    resizeImage()
    let input_file = $("#imageFile");
    console.log(input_file);
    let form_node = document.getElementById('form_profile');
    let bodyFormData = new FormData(form_node);
    try{
      const response = await axios({method: "post",url: "/upload",data: bodyFormData,headers: { "Content-Type": "multipart/form-data" },});
      console.log(response);
    } catch (error) {
      console.log(error)
    }
  };  

  $("#imageFile").change(function(event) {
    var files = event.target.files;
    var file = files[0];

    if (file) {
      var reader = new FileReader();
      reader.onload = function(e) {
        document.getElementById("preview").src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
    resizeImage();
  });

function resizeImage() {
 var filesToUploads = document.getElementById("imageFile").files;
 var file = filesToUploads[0];
    if (file) {
      var reader = new FileReader();
      
        // Set the image for the FileReader
        reader.onload = function (e) {
        var img = document.createElement("img");
        img.src = e.target.result;

        // Create your canvas
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0);

        var MAX_WIDTH = 500;
        var MAX_HEIGHT = 500;
        var width = img.width;
        var height = img.height;

        // Add the resizing logic
        if (width > height) {
          if (width > MAX_WIDTH) {
            height *= MAX_WIDTH / width;
            width = MAX_WIDTH;
          }
        } else {
          if (height > MAX_HEIGHT) {
            width *= MAX_HEIGHT / height;
            height = MAX_HEIGHT;
          }
        }

        //Specify the resizing result
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height);

        dataurl = canvas.toDataURL(file.type);
        document.getElementById("output").src = dataurl;
        console.log(document.getElementById("output").file);
      };
      reader.readAsDataURL(file);
    }
  } 
</script>

